
<div class="container-fluid">
  <div class="row">
<script>
  setTimeout(function() { // start a delay
  var fade = document.getElementById("fade"); // get required element
  fade.style.opacity = 1; // set opacity for the element to 1
  var timerId = setInterval(function() { // start interval loop
    var opacity = fade.style.opacity; // get current opacity
    if (opacity == 0) { // check if its 0 yet
      clearInterval(timerId); // if so, exit from interval loop
    } else {
      fade.style.opacity = opacity - 0.05; // else remove 0.05 from opacity
    }
  }, 100); // run every 0.1 second
}, 5000); // wait to run after 5 seconds
</script>
   
    <div class="col-sm-3">
      <div class="text-center">
        <!-- Modal Button HTML -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Sign in to Play</button>
      </div>
       
        <br />
        <a href="#">
          <div class="link">
            <h3>Create an Account</h3>
          </div></a>
        <a href="#">
          <div class="link">
            <h3>Meet the Team</h3>
          </div></a>
      </div>            
    </div>
  </div>
</div>



<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">        
        <h3 class="modal-title">Sign in, Warrior</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary btn-block btn-lg" value="Sign in">
        </div>
      </div>
    </div>
  </div>
</div>     
</body>
<div id="fade">
  <br />
  <h1 style="color:red;">Welcome To MOA Chess Game</h1>
  <h2 style="color:red;">Will you be the Champion?</h2>
</div>

</body>
</html>               