<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/assets/stylesheets/master.scss">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src = "/app/assets/javascripts/games.js"></script>    

  </head>
  
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
  <!-- Building the chess bard --!>
    <div class="booyah-box row">

      <div class="board col-12 col-sm-8">
        <div class="cell piece brook"></div>
        <div class="cell piece bknight"></div>
        <div class="cell piece bbishop"></div>
        <div class="cell piece bqueen"></div>
        <div class="cell piece bking"></div>
        <div class="cell piece bbishop"></div>
        <div class="cell piece bknight"></div>
        <div class="cell piece brook"></div>

        <div class="cell piece bpawn"></div>
        <div class="cell piece bpawn"></div>
        <div class="cell piece bpawn"></div>
        <div class="cell piece bpawn"></div>
        <div class="cell piece bpawn"></div>
        <div class="cell piece bpawn"></div>
        <div class="cell piece bpawn"></div>
        <div class="cell piece bpawn"></div>

        <div class="cell">1</div>
        <div class="cell">2</div>
        <div class="cell">3</div>
        <div class="cell">4</div>
        <div class="cell">5</div>
        <div class="cell">6</div>
        <div class="cell">7</div>
        <div class="cell">8</div>

        <div class="cell">1</div>
        <div class="cell">2</div>
        <div class="cell">3</div>
        <div class="cell">4</div>
        <div class="cell">5</div>
        <div class="cell">6</div>
        <div class="cell">7</div>
        <div class="cell">8</div>

        <div class="cell">1</div>
        <div class="cell">2</div>
        <div class="cell">3</div>
        <div class="cell">4</div>
        <div class="cell">5</div>
        <div class="cell">6</div>
        <div class="cell">7</div>
        <div class="cell">8</div>

        <div class="cell">1</div>
        <div class="cell">2</div>
        <div class="cell">3</div>
        <div class="cell">4</div>
        <div class="cell">5</div>
        <div class="cell">6</div>
        <div class="cell">7</div>
        <div class="cell">8</div>

        <div class="cell piece wpawn"></div>
        <div class="cell piece wpawn"></div>
        <div class="cell piece wpawn"></div>
        <div class="cell piece wpawn"></div>
        <div class="cell piece wpawn"></div>
        <div class="cell piece wpawn"></div>
        <div class="cell piece wpawn"></div>
        <div class="cell piece wpawn"></div>

        <div class="cell piece wrook"></div>
        <div class="cell piece wknight"></div>
        <div class="cell piece wbishop"></div>
        <div class="cell piece wqueen"></div>
        <div class="cell piece wking"></div>
        <div class="cell piece wbishop"></div>
        <div class="cell piece wknight"></div>
        <div class="cell piece wrook"></div>

      </div>

      <br class="clear">
      <br class="clear">

      <div class="col-12 col-sm-4">
        <h5>Next Player:</h5>

        <br class="clear">
        
        <div class="next-player"></div>
      </div>

    </div>


  </body>
</html>
