<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app/assets/stylesheets/master.scss">
    <script type="text/javascript" src = "/app/assets/javascripts/game.js"></script>    

  </head>
  
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
  <!-- Building the chess bard --!>
    <div class="booyah-box row">

      <div class="board">
        <div class="white piece cell brook" row="8" column="1" player="black" piece="rook" empty="false"></div>
        <div class="brown piece cell bknight" row="8" column="2" player="black" piece="knight" empty="false"></div>
        <div class="white piece cell bbishop" row="8" column="3" player="black" piece="bishop" empty="false"></div>
        <div class="brown piece cell bqueen" row="8" column="4" player="black" piece="queen" empty="false"></div>
        <div class="white piece cell bking" row="8" column="5" player="black" piece="king" empty="false"></div>
        <div class="brown piece cell bbishop" row="8" column="6" player="black" piece="bishop" empty="false"></div>
        <div class="white piece cell bknight" row="8" column="7" player="black" piece="knight" empty="false"></div>
        <div class="brown piece cell brook" row="8" column="8" player="black" piece="rook" empty="false"></div>

        <div class="brown piece cell bpawn" row="7" column="1" player="black" piece="pawn" empty="false"></div>
        <div class="white piece cell bpawn" row="7" column="2" player="black" piece="pawn" empty="false"></div>
        <div class="brown piece cell bpawn" row="7" column="3" player="black" piece="pawn" empty="false"></div>
        <div class="white piece cell bpawn" row="7" column="4" player="black" piece="pawn" empty="false"></div>
        <div class="brown piece cell bpawn" row="7" column="5" player="black" piece="pawn" empty="false"></div>
        <div class="white piece cell bpawn" row="7" column="6" player="black" piece="pawn" empty="false"></div>
        <div class="brown piece cell bpawn" row="7" column="7" player="black" piece="pawn" empty="false"></div>
        <div class="white piece cell bpawn" row="7" column="8" player="black" piece="pawn" empty="false"></div>

        <div class="white cell" row="6" column="1" empty="true"></div>
        <div class="brown cell" row="6" column="2" empty="true"></div>
        <div class="white cell" row="6" column="3" empty="true"></div>
        <div class="brown cell" row="6" column="4" empty="true"></div>
        <div class="white cell" row="6" column="5" empty="true"></div>
        <div class="brown cell" row="6" column="6" empty="true"></div>
        <div class="white cell" row="6" column="7" empty="true"></div>
        <div class="brown cell" row="6" column="8" empty="true"></div>

        <div class="brown cell" row="5" column="1" empty="true"></div>
        <div class="white cell" row="5" column="2" empty="true"></div>
        <div class="brown cell" row="5" column="3" empty="true"></div>
        <div class="white cell" row="5" column="4" empty="true"></div>
        <div class="brown cell" row="5" column="5" empty="true"></div>
        <div class="white cell" row="5" column="6" empty="true"></div>
        <div class="brown cell" row="5" column="7" empty="true"></div>
        <div class="white cell" row="5" column="8" empty="true"></div>

        <div class="white cell" row="4" column="1" empty="true"></div>
        <div class="brown cell" row="4" column="2" empty="true"></div>
        <div class="white cell" row="4" column="3" empty="true"></div>
        <div class="brown cell" row="4" column="4" empty="true"></div>
        <div class="white cell" row="4" column="5" empty="true"></div>
        <div class="brown cell" row="4" column="6" empty="true"></div>
        <div class="white cell" row="4" column="7" empty="true"></div>
        <div class="brown cell" row="4" column="8" empty="true"></div>

        <div class="brown cell" row="3" column="1" empty="true"></div>
        <div class="white cell" row="3" column="2" empty="true"></div>
        <div class="brown cell" row="3" column="3" empty="true"></div>
        <div class="white cell" row="3" column="4" empty="true"></div>
        <div class="brown cell" row="3" column="5" empty="true"></div>
        <div class="white cell" row="3" column="6" empty="true"></div>
        <div class="brown cell" row="3" column="7" empty="true"></div>
        <div class="white cell" row="3" column="8" empty="true"></div>

        <div class="white piece cell wpawn" row="2" column="1" player="white" piece="pawn" empty="false"></div>
        <div class="brown piece cell wpawn" row="2" column="2" player="white" piece="pawn" empty="false"></div>
        <div class="white piece cell wpawn" row="2" column="3" player="white" piece="pawn" empty="false"></div>
        <div class="brown piece cell wpawn" row="2" column="4" player="white" piece="pawn" empty="false"></div>
        <div class="white piece cell wpawn" row="2" column="5" player="white" piece="pawn" empty="false"></div>
        <div class="brown piece cell wpawn" row="2" column="6" player="white" piece="pawn" empty="false"></div>
        <div class="white piece cell wpawn" row="2" column="7" player="white" piece="pawn" empty="false"></div>
        <div class="brown piece cell wpawn" row="2" column="8" player="white" piece="pawn" empty="false"></div>

        <div class="brown piece cell wrook" row="1" column="1" player="white" piece="rook" empty="false"></div>
        <div class="white piece cell wknight" row="1" column="2" player="white" piece="knight" empty="false"></div>
        <div class="brown piece cell wbishop" row="1" column="3" player="white" piece="bishop" empty="false"></div>
        <div class="white piece cell wqueen" row="1" column="4" player="white" piece="queen" empty="false"></div>
        <div class="brown piece cell wking" row="1" column="5" player="white" piece="king" empty="false"></div>
        <div class="white piece cell wbishop" row="1" column="6" player="white" piece="bishop" empty="false"></div>
        <div class="brown piece cell wknight" row="1" column="7" player="white" piece="knight" empty="false"></div>
        <div class="white piece cell wrook" row="1" column="8" player="white" piece="rook" empty="false"></div>

      </div>

      <br class="clear">
      <br class="clear">

      <div class="col-12 col-sm-4">
        <h5>Next Player:</h5>

        <br class="clear">
        
        <div class="next-player"></div>
      </div>

    </div>


  </body>
</html>
